html {
  body {
    .historyInBlackColor {
      .containerHistoryInBlackColor {
        position: relative;
        width: 100%;
        .back-containerHistoryInBlackColor {
          @extend %back-container;
          background: url("../img/blackHisotry/bg-cta.png") no-repeat 100% 100%;
          -webkit-background-size: cover;
          background-size: cover;
          .container {
            .containerForCardOfHistory {
              width: 100%;
              position: absolute;
              height: 100%;
              background-color: transparent;
              top: 0;
              left: 0;
              display: -webkit-box;
              display: -ms-flexbox;
              display: -webkit-flex;
              display: flex;
              -webkit-box-orient: horizontal;
              -webkit-box-direction: normal;
              -ms-flex-direction: row;
              -webkit-flex-direction: row;
              flex-direction: row;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              -webkit-justify-content: center;
              justify-content: center;
              .cardForHistory {
                -ms-flex-item-align: center;
                -webkit-align-self: center;
                align-self: center;
                width: -webkit-calc(100% / 1.6);
                width: calc(100% / 1.6);
                padding: 2vw;
                background-color: transparent;
                .tableInCardForHistory {
                  padding: 4vw 7vw;
                  h2 {
                    font-family: OpenSans-Extrabold;
                    font-size: 1.5em;
                    color: #ffffff;
                    text-align: center;
                    margin: 0 0 2vw;
                    @media (min-width: 100px) and (max-width: 768px) {
                      font-size: 1em;
                    }
                    @media (min-width: 100px) and (max-width: 480px) {
                      font-size: 1.5em;
                    }
                  }
                  p {
                    font-family: OpenSans-Light;
                    font-size: 0.9em;
                    color: #ffffff;
                    line-height: 1.3;
                    text-align: center;
                    margin: 0 0 2vw;
                    @media (min-width: 100px) and (max-width: 768px) {
                      font-size: 0.7em;
                    }
                    @media (min-width: 100px) and (max-width: 480px) {
                      font-size: 0.8em;
                    }
                  }
                  .button {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                    -webkit-flex-direction: row;
                    flex-direction: row;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    a {
                      -webkit-align-self: center;
                      -ms-flex-item-align: center;
                      align-self: center;
                      width: 38%;
                      height: 4vw;
                      margin: 2vw 0 0;
                      text-decoration: none;
                      background-color: transparent;
                      &:hover {
                        background-color: $gold;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        outline: none;
                        text-decoration: none;
                        border: 1px solid $gold;
                      }
                      &:focus, &:visited {
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        outline: none;
                        border: 1px solid $gold;
                        text-decoration: none;
                      }
                      button {
                        width: 100%;
                        height: 100%;
                        border: 1px solid $gold;
                        font-family: OpenSans-Extrabold;
                        font-size: 14px;
                        color: #FFFFFF;
                        text-align: center;
                        background-color: transparent;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                        text-decoration: none;
                        &:hover {
                          background-color: $gold;
                          -webkit-box-shadow: none;
                          box-shadow: none;
                          outline: none;
                          border: 1px solid $gold;
                          text-decoration: none;
                        }
                        &:focus, &:visited {
                          -webkit-box-shadow: none;
                          box-shadow: none;
                          border: 1px solid $gold;
                          outline: none;
                          text-decoration: none;
                        }
                        @media (min-width: 100px) and (max-width: 768px) {
                          font-size: 11px;
                        }
                        @media (min-width: 100px) and (max-width: 680px) {
                          font-size: 9px;
                        }
                        @media (min-width: 100px) and (max-width: 480px) {
                          font-size: 16px;
                        }
                        @media (min-width: 100px) and (max-width: 420px) {
                          font-size: 12px;
                        }
                        @media (min-width: 100px) and (max-width: 320px) {
                          font-size: 10px;
                        }
                      }
                      @media (min-width: 100px) and (max-width: 768px) {
                        width: 45%;
                      }
                      @media (min-width: 100px) and (max-width: 560px) {
                        height: 5vw;
                      }
                      @media (min-width: 100px) and (max-width: 520px) {
                        height: 6vw;
                        width: 50%;
                      }
                      @media (min-width: 100px) and (max-width: 480px) {
                        width: 55%;
                        height: 9vw;
                      }
                      @media (min-width: 100px) and (max-width: 320px) {
                        width: 52%;
                        height: 30px;
                      }
                    }
                  }
                }
                @media (min-width: 100px) and (max-width: 480px) {
                  width: 100%;
                  padding: 8vw 2vw;
                }
              }
            }
          }
          @media (min-width: 100px) and (max-width: 530px) {
            background: url("../img/blackHisotry/bg-cta.png") no-repeat 50% 100%;
            -webkit-background-size: cover;
            background-size: cover;
          }
        }
        &:before {
          @extend %forBefore;
          padding: 13.5%;
        }
        @media (min-width: 100px) and (max-width: 680px) {
          &:before {
            padding: 16%;
          }
        }
        @media (min-width: 100px) and (max-width: 530px) {
          &:before {
            padding: 19%;
          }
        }
        @media (min-width: 100px) and (max-width: 480px) {
          &:before {
            padding: 38%;
          }
        }
        @media (min-width: 100px) and (max-width: 320px) {
          height: 315px;
        }
      }
    }
  }
}