.container {
  width: 85%;
  margin: 0 auto;
}
.calculator {
  h2 {
    text-align: center;
    font-size: 32px;
  }
  form {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    input {
      width: 40%;
      padding: 2% 4%;
      font-size: 14px;
      margin: 0 0 15px;
    }
    .actions {
      width: 100%;
      margin: 0 0 25px;
      display: flex;
      justify-content: space-between;
      button {
        padding: 10px 15px;
        color: #000;
        border: 2px solid #CD0000;
        background-color: transparent;
        border-radius: 8px;
        font-size: 16px;
        transition: 0.2s;
        &:hover, &:focus, &:active {
          border: 2px solid #000000;
          color: #CD0000;
          outline: none;
        }
      }
    }
  }
}